In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("anime.csv")

In [4]:
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
10481,34471,Youkai Watch Movie 4,"Comedy, Kids, Supernatural",Movie,1,NaN,169
10482,34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593
10483,34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439
10484,33035,Yuyushiki Special,NaN,Special,1,NaN,2294
10485,33390,Zunda Horizon,NaN,Movie,1,NaN,160

In [5]:
df.describe()

           anime_id        rating       members
count  10486.000000  10275.000000  1.048600e+04
mean   14697.595461      6.493899  1.847893e+04
std    11594.539648      1.066551  5.655936e+04
min        1.000000      1.670000  5.000000e+00
25%     3615.750000      5.870000  1.730000e+02
50%    11065.000000      6.600000  1.197500e+03
75%    26018.500000      7.250000  9.741750e+03
max    34527.000000     10.000000  1.013917e+06

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10486 entries, 0 to 10485
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  10486 non-null  int64
 1   name      10486 non-null  object
 2   genre     10424 non-null  object
 3   type      10463 non-null  object
 4   episodes  10486 non-null  object
 5   rating    10275 non-null  float64
 6   members   10486 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 573.6+ KB

In [9]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         23
episodes      0
rating      211
members       0
dtype: int64

In [12]:
df['tags'] = df['genre']+','+df['type']
df.head()

,anime_id,name,genre,type,episodes,rating,members,tags
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,"Drama, Romance, School, Supernatural,Movie"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,"Sci-Fi, Thriller,TV"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,"Action, Comedy, Historical, Parody, Samurai, S..."

In [13]:
new = df.drop(columns=['type','genre','members'])

In [14]:
new.head()

,anime_id,name,episodes,rating,tags
0,32281,Kimi no Na wa.,1,9.37,"Drama, Romance, School, Supernatural,Movie"
1,5114,Fullmetal Alchemist: Brotherhood,64,9.26,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,51,9.25,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,24,9.17,"Sci-Fi, Thriller,TV"
4,9969,Gintama&#039;,51,9.16,"Action, Comedy, Historical, Parody, Samurai, S..."

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [16]:
new['tags'].fillna('', inplace=True)

C:\Users\Atharva\AppData\Local\Temp\ipykernel_88232\2282698738.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new['tags'].fillna('', inplace=True)

In [17]:
vector = cv.fit_transform(new['tags']).toarray()

In [19]:
vector.shape

(10486, 47)

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
similarity = cosine_similarity(vector)

In [22]:
similarity.shape

(10486, 10486)

In [29]:
result = new[new['name'] == 'Gintama°']

if not result.empty:
    index = result.index[0]
    print("Index of 'Under World':", index)
else:
    print("No match found for 'Under World'")

Index of 'Under World': 2

In [27]:
new[new['name'] == 'Gintama°'].index[0]

2

In [ ]:
def recommend(anime):
    index = new[new['name'] == anime].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]]['name'])

In [ ]:
recommend('Fullmetal Alchemist: Brotherhood')

In [37]:
import pickle

In [38]:
pickle.dump(new,open('anime_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [ ]:
!streamlit run Anime.py